<!-- TODO add  [mask]="format ? format: null" [dropSpecialCharacters]="false"  behind blace holder to implement masking
TODO figure out why masking is preventing age field from allowing input. -->
<input [formControl]="control" [type]="type"
    class="block w-full py-1.5 px-3 text-gray-200 border 
    border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent
    focus:border-indigo-400"
    [placeholder]="placeholder"/>

<ng-container *ngIf="control.touched && control.dirty">
    <!-- name field validations -->
    <p *ngIf=" control.errors?.['required']" class="text-red-400">Field is required
    </p>
    <!-- name field error msg's -->
    <p *ngIf="control.errors?.['minlength']" class="text-red-400">
        The value you input is {{control.errors?.['minlength'].actualLength}} characters long.
        It must be at least {{control.errors?.['minlength'].requiredLength}} characters long.
    </p>

    <!-- email validaion error msg -->
    <p *ngIf="control.errors?.['email']" class="text-red-400">
        You must enter a valid email.
    </p>

    <!-- age validation error condition Min msg -->
    <p *ngIf="control.errors?.['min']" class="text-red-400">
        Value too low.
    </p>

    <!-- age validation error condition Max msg -->
    <p *ngIf="control.errors?.['max']" class="text-red-400">
        Value too high.
    </p>

    <!-- password validation pattern error msg -->
    <p *ngIf="control.errors?.['pattern']" class="text-red-400">
        Passwords must be at leaste 8 characters long, have 1 
        uppercase letter, 1 lowercase letter, and 1 number.
    </p>
</ng-container>